@{
    ViewData["Title"] = "Admin";
}
<div class="container p-4 text-center">
    <h1>ADMIN PANEL</h1>
    <div class="mt-2">
        <a href="/proteins/new" class="btn btn-primary">Add a Protein</a>
        </div>
    <div class="mt-2">
        <a href="/rice/new" class="btn btn-primary">Add Rice</a>
    </div>
    <div class="mt-2">
        <a href="/beans/new" class="btn btn-primary">Add Beans</a>
    </div>
    <div class="mt-2">
        <a href="/addons/new" class="btn btn-primary">Add an Add On</a>
    </div>
    <div class="mt-2">
        <a href="/orders" class="btn btn-warning">Current Orders</a>
    </div>
</div>